/* Variables */

:root {
    --black: #000000;
    --white: #fff;
    --gray: #242424;
    --brown: #663d15;
    --light: #e5e5e5;
    --extra-light: #f9f6f3;
    --dark: #aba9a7;
}


/* Font */

/* @font-face {
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    src: local('PT Sans Narrow'), local('PTSans-Narrow'),
        url('../fonts/PTSansNarrow-Regular.ttf') format('ttf'),
        url('../fonts/PTSansNarrow-Bold.ttf') format('ttf');
} */


/* Global */

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--white);
    margin: 0;
    padding: 0;
    background-color: var(--black);
    background-image: url('../img/Layer.jpg');
    background-repeat: no-repeat;
    background-position: top center;
}


/* Grid */

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}


/* Inner page */

.inner-page {
    color: var(--black);
    background-color: var(--extra-light);
    background-image: url('../img/pattern-light.jpg');
    background-repeat: repeat;
    background-position: 0 0;
}

.inner-page .main-header {
    background-color: var(--black);
}

.inner-page .main-nav {
    display: block;
}

.inner-page .main-header-bar {
    display: flex;
    align-items: center;
}

.inner-header-logo {
    margin-right: 40px;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}


/* Main nav */

.main-nav {
    display: grid;
    font-size: 16px;
    line-height: 20px;
    color: var(--white);
    background-color: transparent;
}

.main-header-bar {
    background-color: var(--black);
    height: 72px;
}

.nav-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 72px;
}

.main-nav-wrapper {
    display: grid;
    grid-template-columns: 1fr min-content;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.nav-item a, .login-link {
    color: var(--white);
}

.nav-list a, .user-nav a {
    display: block;
    padding: 25px 20px;   
}

.main-header-logo {
    order: 1;
    justify-self: center;
    margin-top: 60px;
}

.nav-item {
    height: 100%;
}

.nav-item:hover a, .nav-item:active a, .login-link:hover, .login-link:active {
    background-color: var(--gray);
}

.nav-item-current {
    position: relative;
}

.nav-item-current::after {
    content: "";
    position: absolute;
    width: calc(100% - 40px);
    height: 4px;
    bottom: 0px;
    left: 20px;
    background-color: var(--white);
}


/* Login link */

.login-link::before {
    content: "";
    position: absolute;
    top: 29px;
    left: 23px;
    width: 14px;
    height: 14px;
    background-image: url('/img/login.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.login-link:hover::before, .login-link:focus::before, .login-link:active::before {
    opacity: 1;
}

.user-nav .login-link {
    padding-left: 50px;
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 72px
}


/* Advantages */

.advantages {
    margin-top: 78px;
}

.advantages-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.advantages-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages-item h3 {
    font-size: 30px;
    line-height: 42px;
    margin: 0;
}

.advantages-item p {
    margin: 25px 10px 0 10px;
}

.rhombus {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: var(--white);
}


/* Col */

.col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--black);
    background-color: var(--white);
    background-image: 
        url('../img/separator.png'),
        url('../img/pattern-light.jpg');
    background-repeat: no-repeat, repeat;
    background-position: center, 0 0;
    margin-bottom: 38px;
}

.advantages + .col {
    margin-top: 70px;
}

.col h2 {
    font-size: 30px;
    line-height: 42px;
}


/* Visually hidden */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Btn */

.btn {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font: inherit;
    border: none;
    padding: 10px 30px;
}

.btn:hover, .btn:active, .btn:focus {
    background-color: var(--brown);
}

.btn:disabled {
    background-color: var(--black);
    cursor: default;
    opacity: 0.5;
}


/* Phone */

.contacts-phone {
    color: inherit;
    text-decoration: underline;
}


/* News */

.news {
    width: 342px;
    justify-self: center;
    margin: 47px 0 48px 0;
}

.news h2 {
    margin: 0;
}

.news-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.news-item p {
    margin: 19px 0 0 0;
}

.news .btn {
    display: block;
    box-sizing: border-box;
    max-width: 140px;
    margin: 28px 0 0 0;
}


/* Gallery */

.gallery {
    width: 300px;
    justify-self: center;
    margin: 47px 0 48px 0;
    position: relative;
}

.gallery h2 {
    margin: 0;
}

.gallery-content {
    width: 286px;
    height: 164px;
    margin: 26px 0 0 0;
    background-color: var(--dark);
    border: 7px solid var(--white);
}

.gallery .btn {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 140px;
    margin: 0;
}

.gallery-previous {
    left: 0;
}

.gallery-next {
    right: 0;
}


/* Contacts */

.contacts {
    width: 321px;
    justify-self: center;
    margin: 47px 0 48px 0;
}

.contacts h2 {
    margin: 0;
}

.contacts-info {
    margin: 19px 0 0 0;
}

.contacts-btns {
    display: flex;
    flex-flow: row wrap;
    margin: 22px 0 0 0;
}

.contacts-btns .btn {
    display: block;
    box-sizing: border-box;
}

.contacts-btns .btn:nth-child(1) {
    margin-right: 20px;
}


/* Appointment */

.appointment {
    width: 302px;
    justify-self: center;
    margin: 47px 0 48px 0;
}

.appointment h2 {
    margin: 0
}

.appointment-info {
    margin-top: 19px 0 0 0;
}

.appointment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.appointment-item {
    width: 140px;
    margin: 0 0 10px 0;
}

p.appointment-item label {
    display: block;
    margin: 0 0 9px 15px;
}

p.appointment-item input {
    width: 140px;
    box-sizing: border-box;
}

.appointment .btn {
    display: block;
    width: 100%;
    margin: 10px 0 0 0;
}


/* Page title */

.page-title {
    font-size: 30px;
    line-height: 42px;
    margin: 54px 0 0 0;
}


/* Page catalog */

.page-catalog {
    display: grid;
    grid-template-columns: 167px 1fr;
    column-gap: 73px;
}

.page-catalog-info {
    grid-column-start: span 2;
    margin-bottom: 49px;
}


/* Breadcrumbs */

.breadcrumbs {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
}

.breadcrumbs-item {
    position: relative;
    margin-right: 40px;
}

.breadcrumbs-item::after {
    content: "";
    position: absolute;
    top: 8px;
    right: -24px;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background-color: var(--black);
}

.breadcrumbs .breadcrumbs-item:last-child {
    margin-right: 0;
}

.breadcrumbs-current::after {
    display: none;
}

.breadcrumbs-item a {
    color: var(--black);
}

.breadcrumbs-item a:hover, .breadcrumbs-item a:active, .breadcrumbs-item a:focus {
    text-decoration: underline;
}

.breadcrumbs-current {
    color: var(--dark);
}


/* Catalog list */

.catalog-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog-item {
    width: 220px;
    min-height: 285px;
    background-color: var(--white);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.catalog-item:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}



/* Product */

.catalog-item a {
    display: flex;
    flex-flow: column nowrap;
}

.product-title {
    order: 1;
    font-size: 14px;
    line-height: 18px;
    text-transform: none;
    color: var(--black);
    margin: 14px 16px 0 16px;
}

.product-title-group {
    display: block;
}

.product-image {
    width: 220px;
    height: 165px;
    background-color: var(--white);
    margin: 0;
    object-fit: contain;
}

.product-price {
    display: flex;
    margin: 12px 16px 16px 16px;
}

.product-price b {
    width: 109px;
    padding: 13px 25px 11px;
    font-size: 14px;
    line-height: 18px;
    background-color: var(--light);
    box-sizing: border-box;
    text-align: center;
}

.product-price .btn {
    padding: 13px 18px 11px;
    margin: 0;
    line-height: 20px;
}


/* Pagination list */

.pagination-list {
    grid-column-start: 2;
    list-style: none;
    margin: 45px 0 0 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

.pagination-list .pagination-item:not(:last-child) {
    margin-right: 7px;
}

.page-link {
    display: block;
    box-sizing: border-box;
    color: var(--white);
    background-color: var(--black);
    padding: 10px 19px;
}

.page-link:hover, .page-link:active, .page-link:focus {
    background-color: var(--brown);
}

.page-current {
    display: block;
    box-sizing: border-box;
    padding: 10px 19px;
    color: var(--black);
    background-color: var(--white);
}


/* Product col */

.product-col {
    display: grid;
    grid-template-columns: 460px 390px;
    column-gap: 89px;
    margin-top: 53px;
}


/* Product photo and thumbs */

.product-photo-thumbs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 11px 0 0 0;
    padding: 0;
}

.product-photo-thumbs li {
    width: 140px;
    height: 149px;
    margin-right: 20px;
}

.product-photo-thumbs li:nth-child(3n) {
    margin-right: 0;
}

.product-photo-big, .product-photo-thumbs li {
    background-color: var(--white);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.product-photo-thumbs li:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}


/* Product sub desc */

.product-sub-desc {
    display: flex;
    justify-content: space-between;
}

.product-desc .product-price {
    margin: 40px 0 0 0;
}

.product-sub-desc p {
    margin: 0;
}

.product-article {
    color: var(--dark);
}


/* Product desc */

.product-desc {
    margin: 29px 0 0 0;
}


/* Set */

.set-title {
    font-size: 24px;
    line-height: 30px;
    margin: 62px 0 0 0;
}

.set-list {
    list-style: none;
    margin: 25px 0 0 0;
    padding: 0;
}

.set-item {
    position: relative;
    padding-left: 19px;
}

.set-item::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 2px;
    width: 7px;
    height: 7px;
    background-color: var(--black);
    transform: rotate(45deg);
}


/* Main footer */

.main-footer {
    color: var(--white);
    background-color: var(--gray);
    background-image: url('../img/pattern-dark.jpg');
    background-repeat: repeat;
    background-position: 0 0;
    padding: 60px 0;
    margin-top: 49px;
}

.main-footer .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-btn:hover, .footer-btn:active, .footer-btn:focus {
    color: var(--black);
    background-color: var(--white);
}


/* Footer contacts */

.footer-contacts {
    width: 320px;
    margin: 0;
}

.footer-contacts p {
    margin: 0;
}

.footer-contacts a {
    color: var(--white);
    text-decoration: underline;
}


/* Footer social */

.footer-social {
    width: 145px;
    text-align: center;
    justify-self: center;
}

.footer-social h2 {
    font-size: 14px;
    margin-top: 0;
}

.social-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.social-list li {
    width: 43px;
    height: 43px;
}

.social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    width: 43px;
    height: 43px;
    
}

.social-btn:hover, .social-btn:active, .social-btn:focus {
    background-color: var(--white);
}

.social-btn:hover path, .social-btn:active path, .social-btn:focus path {
    fill: var(--black);
}


/* Footer copyright */

.footer-copyright {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    margin: 0;
    text-align: center;
    justify-self: end;

}

.footer-btn {
    margin-top: 12px;
    padding: 10px 30px 10px 30px;
}

/* Input */

.login-form input[type="email"], .login-form input[type="password"], .appointment-item input {
    font: inherit;
    text-transform: uppercase;
    border: 2px solid var(--black);
    background-color: var(--extra-light);
    color: var(--black);
    padding: 8px 15px 7px 15px;
    width: 200px;
}

input[type="email"]:focus, .login-form input[type="password"]:focus, .appointment-item input:focus {
    border-color: var(--brown);
    border-radius: 0px;
    outline: none;
}


/* Filter */

.filters {
    width: 167px;
}

.filter ul {
    list-style: none;
    /* margin: 0;
    padding: 0; */
}

.filter legend {
    font-size: 24px;
    line-height: 30px;
}

.filter label {
    line-height: 18px;
}

.filter fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.filter fieldset {
    margin-bottom: 50px;
}

.filter-option {
    margin-bottom: 13px;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    left: -37px;
    top: 0;
    width: 16px;
    height: 16px;
    border: 2px solid var(--black);
}

.filter input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    left: -33px;
    top: 4px;
    width: 12px;
    height: 12px;
    background-image: url('../img/cross.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter input[type="checkbox"] + label:hover , .filter input[type="checkbox"]:checked + label {
    color: var(--brown);
}



.filter input[type="radio"] + label::before {
    content: "";
    position: absolute;
    left: -37px;
    top: 0;
    width: 16px;
    height: 16px;
    border: 2px solid var(--black);
    border-radius: 50%;
}

.filter input[type="radio"]:checked + label::after {
    content: "";
    position: absolute;
    left: -31px;
    top: 6px;
    width: 8px;
    height: 8px;
    background-color: var(--black);
    border-radius: 50%;
}

.filter input[type="radio"] + label:hover , .filter input[type="radio"]:checked + label {
    color: var(--brown);
}

.filter input:disabled + label, .filter input:disabled:checked + label {
    color: var(--black);
    opacity: 0.3;
}


/* Modal */

.modal {
    display: none;
    color: var(--basic-black);
    background-color: var(--extra-light);
    background-image: url('../img/pattern-light.jpg');
    background-repeat: repeat;
    background-position: 0 0;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.restore {
    color: var(--black);
    text-decoration: underline;
}


/* Modal login */

.login-title {
    margin: 0;
}

.login-text {
    margin: 15px 0 0 0;
}

.login-form p {
    margin: 0;
}

.login-form input {
    margin-top: 10px;
}
